<mat-accordion multi>
    <ng-container *ngFor="let sprint of sprints">
        <section>
            <mat-expansion-panel [expanded]="sprint.priority === sprints.length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{sprint.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="example-container">
                    <h2>To do</h2>

                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="sprint.todo"
                        [cdkDropListConnectedTo]="[inprogressList, doneList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let backlog of sprint.todo" cdkDrag>
                            <mat-icon [svgIcon]="backlog.backlogType.icon"></mat-icon>
                            <div class="text">{{backlog.name}}</div>
                            <mat-chip-list>
                                <mat-chip color="accent" selected>TO DO</mat-chip>
                                <mat-chip color="primary" selected>{{backlog.estimatedTime}} H</mat-chip>
                            </mat-chip-list>
                            <img mat-card-avatar [src]="backlog.customer.image" />
                        </div>
                    </div>
                </div>

                <div class="example-container">
                    <h2>In Progress</h2>

                    <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="sprint.inprogress"
                        [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let backlog of sprint.inprogress" cdkDrag>
                            <mat-icon [svgIcon]="backlog.backlogType.icon"></mat-icon>
                            <div class="text">{{backlog.name}}</div>
                            <mat-chip-list>
                                <mat-chip color="accent" selected>IN PROGRESS</mat-chip>
                                <mat-chip color="primary" selected>{{backlog.estimatedTime}} H</mat-chip>
                            </mat-chip-list>
                            <img mat-card-avatar [src]="backlog.customer.image" />
                        </div>
                    </div>
                </div>

                <div class="example-container-last">
                    <h2>Done</h2>

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="sprint.done"
                        [cdkDropListConnectedTo]="[todoList, inprogressList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let backlog of sprint.done" cdkDrag>
                            <mat-icon [svgIcon]="backlog.backlogType.icon"></mat-icon>
                            <div class="text">{{backlog.name}}</div>
                            <mat-chip-list>
                                <mat-chip color="accent" selected>DONE</mat-chip>
                                <mat-chip color="primary" selected>{{backlog.estimatedTime}} H</mat-chip>
                            </mat-chip-list>
                            <img mat-card-avatar [src]="backlog.customer.image" />
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </section>
    </ng-container>
</mat-accordion>