.mat-sidenav-container {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
}

.titulo > * {
  display: flex;
  margin-top: 15%;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
}
