<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="menu">
      <div class="titulo">
        <h4>
          <span class="material-icons"> dashboard </span>
          MiniJira
        </h4>
      </div>
      <mat-divider></mat-divider>
      <button class="item" mat-button [routerLink]="'/board/list'">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          focusable="false"
          role="presentation"
        >
          <g fill="currentColor">
            <path
              d="M4 18h16.008C20 18 20 6 20 6H3.992C4 6 4 18 4 18zM2 5.994C2 4.893 2.898 4 3.99 4h16.02C21.108 4 22 4.895 22 5.994v12.012A1.997 1.997 0 0 1 20.01 20H3.99A1.994 1.994 0 0 1 2 18.006V5.994z"
            ></path>
            <path d="M8 6v12h2V6zm6 0v12h2V6z"></path>
          </g>
        </svg>
        Tablero
      </button>
      <button class="item" mat-button [routerLink]="'/backlog/list'">
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          focusable="false"
          role="presentation"
        >
          <g fill="currentColor">
            <path
              d="M5 19.002C5 19 17 19 17 19v-2.002C17 17 5 17 5 17v2.002zm-2-2.004C3 15.894 3.895 15 4.994 15h12.012c1.101 0 1.994.898 1.994 1.998v2.004A1.997 1.997 0 0 1 17.006 21H4.994A1.998 1.998 0 0 1 3 19.002v-2.004z"
            ></path>
            <path d="M5 15h12v-2H5v2zm-2-4h16v6H3v-6z"></path>
            <path
              d="M7 11.002C7 11 19 11 19 11V8.998C19 9 7 9 7 9v2.002zM5 8.998C5 7.894 5.895 7 6.994 7h12.012C20.107 7 21 7.898 21 8.998v2.004A1.997 1.997 0 0 1 19.006 13H6.994A1.998 1.998 0 0 1 5 11.002V8.998z"
            ></path>
            <path
              d="M5 5v2h12V5H5zm-2-.002C3 3.894 3.895 3 4.994 3h12.012C18.107 3 19 3.898 19 4.998V9H3V4.998z"
            ></path>
          </g>
        </svg>
        Backlog
      </button>
      <button class="item" mat-button [routerLink]="'/burn-down'">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          focusable="false"
          role="presentation"
        >
          <g fill="currentColor">
            <path
              d="M21 17H4.995C4.448 17 4 16.548 4 15.991V6a1 1 0 1 0-2 0v9.991A3.004 3.004 0 0 0 4.995 19H21a1 1 0 0 0 0-2zm-3-8v3a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2h3z"
            ></path>
            <path
              d="M13.293 13.707a1 1 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414L14 11.586l-2.293-2.293a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 1.414 1.414L11 11.414l2.293 2.293z"
            ></path>
          </g>
        </svg>
        BurnDown
      </button>
      <button class="item" mat-button [routerLink]="'/burn-up'">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          focusable="false"
          role="presentation"
        >
          <g fill="currentColor">
            <path
              d="M21 17H4.995C4.448 17 4 16.548 4 15.991V6a1 1 0 1 0-2 0v9.991A3.004 3.004 0 0 0 4.995 19H21a1 1 0 0 0 0-2zm-3-8v3a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2h3z"
            ></path>
            <path
              d="M13.293 13.707a1 1 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414L14 11.586l-2.293-2.293a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 1.414 1.414L11 11.414l2.293 2.293z"
            ></path>
          </g>
        </svg>
        BurnUp
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
