<section class="button">
    <button mat-button (click)="onCreate()">
        <mat-icon class="fas fa-plus"></mat-icon>
        Crear incidencia
    </button>
</section>
<section>
    <div cdkDropListGroup class="group-list">
        <mat-accordion multi>
            <ng-container *ngFor="let sprint of sprints">
                <mat-expansion-panel [expanded]="sprint.priority === sprints.length - 1 || sprint.priority === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{sprint.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div cdkDropList [id]="sprint.name" [cdkDropListData]="sprint.backlogs" class="list"
                        (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="sprint.backlogs && sprint.backlogs.length > 0 else noData">
                            <div class="box" *ngFor="let backlog of sprint.backlogs" cdkDrag>
                                <mat-icon [svgIcon]="backlog.backlogType.icon"></mat-icon>
                                <div class="text">{{backlog.name}}</div>
                                <mat-chip-list>
                                    <mat-chip color="accent" selected>{{backlog.state}}</mat-chip>
                                    <mat-chip color="primary" selected>{{backlog.estimatedTime}} H</mat-chip>
                                </mat-chip-list>
                                <img mat-card-avatar [src]="backlog.customer.image" />
                            </div>
                        </ng-container>
                        <ng-template #noData>
                            <div class="no-data">
                                {{sprint.name}} esta vacio
                            </div>
                        </ng-template>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</section>