form {
  display: flex;
  flex-direction: column;
}

mat-select-trigger {
  display: flex;
  align-items: center;
}

$mat-card-header-size: 21px !default;
.mat-card-avatar {
  height: $mat-card-header-size;
  width: $mat-card-header-size;
  vertical-align: middle;
  margin-right: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
