<section>
    <form [formGroup]="backlogForm" (submit)="onSubmit()">
        <mat-form-field appearance="legacy">
            <mat-label>¿Que se va a hacer?</mat-label>
            <mat-select formControlName="type">
                <mat-select-trigger>
                    <mat-icon [svgIcon]="backlogForm.get('type').value['icon']"></mat-icon>
                    {{backlogForm.get('type').value['name']}}
                </mat-select-trigger>
                <mat-option *ngFor="let backlogType of backlogTypes" [value]="backlogType">
                    <mat-icon [svgIcon]="backlogType.icon"></mat-icon>
                    {{backlogType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>¿Que se debe hacer?</mat-label>
            <input matInput formControlName="name" type="text">
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>¿Quien lo va a hacer?</mat-label>
            <mat-select formControlName="customer">
                <mat-select-trigger>
                    <img mat-card-avatar [src]="backlogForm.get('customer').value['image']" />
                    {{backlogForm.get('customer').value['name']}}
                </mat-select-trigger>
                <mat-option *ngFor="let customer of customers" [value]="customer">
                    <img mat-card-avatar [src]="customer.image" />
                    {{customer.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>¿Cuanto tiempo tomara?</mat-label>
            <input matInput formControlName="estimatedTime" type="number">
            <span matSuffix>Horas</span>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="!backlogForm.valid">Agregar</button>
    </form>
</section>